p {
  color: red;
  background-color:black;
  border: 23px dashed ;
  padding: 50px;
  margin: 25px;
  width: 250px;
}
 h1 {
   ;
  color: purple;}
body { background-image: url('http://www.googlenexusforum.com/forum/attachments/nexus-graphics/4890d1386385157-share-your-wallpapers-20848-water-vs-fire-1920x1080-digital-art-wallpaper.jpgs');
  background-repeat;
  background-attachment: fixed;
  background-position:center;}
